.boxes{
	@extend %boxFull;
	display: flex;
  justify-content: center;
   flex-direction: column;
    @include respond-to(sm){
      flex-direction: column;
    }
     @include respond-to(md){
      flex-direction: row;
    }




    @include m('reverse'){
    	flex-direction: column;

        @include respond-to(sm){
          flex-direction: column;
        }
        @include respond-to(md){
          flex-direction: row-reverse;
        }
    }

    @include m('paralax'){
      //height: 500px; /* fallback for older browsers */
      //height: 100vh;
      // overflow-x: hidden;
      // overflow-y: auto;
       -webkit-perspective: 300px;
       perspective: 300px;
    }





    @include e('box-left'){
    	@extend %boxFull;
  		@include span(1);

      @include respond-to(sm){
        @include span(1);
        //margin-bottom: 60px;
      }
      @include respond-to(md){
        @include span(.5);
      }








      @include m('paralax'){
        position: relative;
        //height: 500px; /* fallback for older browsers */
        //height: 100vh;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }

  		

    }

    @include e('box-right'){
    	@extend %boxFull;
  		@include span(1);
  			
  		@include respond-to(sm){
  			@include span(1);
  		}
      @include respond-to(md){
        @include span(.5);
      }
    }


    @include e('layer'){
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 130px;
      display: none;
      @include respond-to(sm){
        display: block;
      }

      @include m('base'){
        z-index: 4;
        width: 463px;

        @include respond-to(sm){
          transform: translateZ(-340px) scale(2)translateX(224px)translateY(319px);

        }
        @include respond-to(md){
          transform: translateZ(0)translateY(390px)translateX(60px);
        }
      }
      @include m('back'){
        width: 312px;
        z-index: 3;
        
        @include respond-to(sm){
          transform: translateZ(-340px) scale(2)translateX(100px)translateY(525px);

        }
        @include respond-to(md){
          transform: translateZ(-340px) scale(2)translateX(-16px)translateY(426px);

        }
      }
      @include m('back-resultado'){
        width: 732px;
        z-index: 3;
        
        @include respond-to(sm){
          transform: translateZ(-340px) scale(2)translateX(100px)translateY(525px);
          display: none;
        }
        @include respond-to(md){
          transform: translateZ(-430px) scale(2)translateX(229px)translateY(407px);
          display: block;
        }
      }
      @include m('back-pc'){
        width: 844px;
        height: auto;
        z-index: 3;
        

        @include respond-to(sm){
          display: none;
        }
        
        @include respond-to(md){
          transform: translateZ(-480px) scale(2)translateX(-316px)translateY(434px);
          display: block;

        }
      }
      @include m('back-right'){
        width: 312px;
        z-index: 3;
        
        @include respond-to(sm){
          transform: translateZ(-600px) scale(3)translateX(34px)translateY(262px);
          opacity: 0;
        }
        @include respond-to(md){
          transform: translateZ(-340px) scale(2)translateX(168px)translateY(262px);
          opacity: 1;
        }
      }
      @include m('deep'){
        z-index: 2;
        width: 220px;
        
        @include respond-to(sm){
          transform: translateZ(-340px) scale(2)translateX(71px)translateY(529px);

        }
        @include respond-to(md){
          transform: translateZ(-600px) scale(3)translateX(-68px)translateY(340px);
        }
       
      }
      @include m('deep-right'){
        z-index: 2;
        width: 535px;
        
        @include respond-to(sm){
          transform: translateZ(-600px) scale(3)translateX(34px)translateY(351px);
          opacity: 0;
        }
        @include respond-to(md){
          transform: translateZ(-600px) scale(3)translateX(164px)translateY(218px);
          opacity: 1;
        }
       
      }



    }

  #group4,#group5,#group6,#group7 {
    z-index: 2; /* slide under group 3 and 5 */
  }

  @include e('bg-lapis'){
  background: url(../images/bg_lapis.png)no-repeat;
    width: 100%;
    float: left;
    height: 180px;

    @include respond-to(sm){
      opacity: 0;
    }
    @include respond-to(md){
      opacity: 1;
    }
  }
  @include e('lapis'){
    background: url(../images/lapis.png)no-repeat;
    width: 100%;
    float: left;
    height: 270px;
    @include respond-to(sm){
      opacity: 0;
    }
    @include respond-to(md){
      opacity: 1;
    }
  }
  @include e('sombra'){
    background: url(../images/sombra.png)no-repeat;
    width: 100%;
    float: left;
    height: 271px;
    @include respond-to(sm){
      opacity: 0;
    }
    @include respond-to(md){
      opacity: 1;
    }
  }
  @include e('bg-phone'){
    background: url(../images/smartPhone_bg.png)no-repeat;
    width: 100%;
    float: left;
    height: 412px;

  }
  @include e('phone'){
    background: url(../images/smartPhone.png)no-repeat;
    width: 100%;
    float: left;
    height: 412px;
  }

  @include e('pc'){
    background: url(../images/pc.png)no-repeat;
    width: 100%;
    float: left;
    height: 528px;
  }
  @include e('resultado'){
    background: url(../images/resultado.png)no-repeat;
    width: 100%;
    float: left;
    height: 528px;

  }
}

 .box__smarthphone{
    @include span(1);
    position: relative;
    &:before{
        content: '';
        position: fixed;
        margin: 0;
        background: url(../images/smarth.png)no-repeat;
        background-position-x: 92%;
        height: 100%;
        width: 100%;
        bottom: 0;
        //background-attachment: fixed;
        z-index: 9999999999999999999;
        background-position-y: bottom;
        }
       @include respond-to(sm){
          display: none;
        }
        @include respond-to(md){
          display: block;
        }
  }
  .box__lapis{
    @include span(1);
    position: relative;
    &:before{
        content: '';
        position: fixed;
        margin: 0;
        background: url(../images/lapis-box.png)no-repeat;
        background-position-x: 100%;
        height: 100%;
        width: 100%;
        bottom: -20px;
       // background-attachment: fixed;
        z-index: 9999999999999999999;
        background-position-y: bottom;
        }
        @include respond-to(sm){
          display: none;
        }
        @include respond-to(md){
          display: block;
        }
    
  }